.header {
  max-width: var(--display-width);
  margin: 0 auto;
  width: 100%;
  padding: 0px 15px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 15px 0px;

  &_logo{
    height: 50px;
  }

  &_con {
    display: flex;
    align-items: center;

    &Burger {
      display: none;
    }

    &Button {
      background-color: #49AF08;
      width: 222px;
      height: 65px;
      border-radius: 17px;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }

    &Button:hover {
      transition: 0.3s;
      background-color: #36780d;
      cursor: pointer;
    }

    &Button:active {
      transition: 0.3s;
      background-color: #49AF08;
      cursor: pointer;
      border-bottom: 1px solid black;
    }

    &Nav {
      display: flex;
      margin-right: 30px;
      gap: 10px;
    }

    &List {
      display: flex;

      &Item {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;
        height: 50px;
        width: 100%;
      }
    }
  }

}

:global(a.active) {
  background-color: var(--sky-mist);
  border-radius: 7px;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .content {
    &_con {
      &List {
        &Item {
          display: flex;
          align-items: center;
          padding: 3px;
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .content {
    &_con {
      &List {
        &Item {
          display: flex;
          align-items: center;
          padding: 3px;
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 930px) {
  .content {
    &_con {

      &Nav{
        display: none;
      }

      &Burger{
        display: block;
      }

      &Button{
        display: none;
      }
    }
  }
}
