.container{
    max-width: var(--display-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;

    &_title{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &_buttons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        &Disabled{
            height: 40px;
            width: 120px;
            border-radius: 15px;
            border: none;
            background-color: var(--btn-footer);
            color: white;
            cursor: pointer;
        }

        &Active{
            background-color: var(--soft-violet);
        }
    }
}