.random {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 15px 0px;

  &_image {
    height: 350px;
    width: 350px;
    border-radius: 20px;
  }

  &_words{
    display: flex;
    gap: 30px;
  }

  &_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--btn);
    border-radius: 15px;
    font-size: 25px;
    height: 80px;
    width: 220px;
    scale: 1.1;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }

  &_disabled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--btn-footer);
    border-radius: 15px;
    font-size: 25px;
    height: 80px;
    width: 220px;
    scale: 0.9;
    color: white;
    cursor: pointer;
  }
}

@media (max-width: 526px) {
  .random {
    &_image {
      height: 250px;
      width: 250px;
    }
  }
}
