.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-bottom: 20px;
  gap: 20px;

  &_words {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    height: 40px;
    width: 120px;
  }

  &_active{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 255, 17);
    border-radius: 15px;
    height: 40px;
    width: 120px;
  }

  &_disabled{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    height: 40px;
    width: 120px;
  }
}
