.registration {
  max-width: var(--display-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.content {
  background-color: var(--element-grey);
  height: 550px;
  width: 550px;
  margin: 50px;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
    width: 300px;

    &_container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      &Input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid var(--element-grey);
        padding: 10px;
      }

      &Title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &Show {
          color: var(--btn-footer);
          cursor: pointer;
        }

        &Show:hover {
          color: var(--btn);
        }
      }
    }
  }

  &_social {
    text-align: center;
  }

  &_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 613px) {
  .content {
    width: 400px;
    margin: 15px;
  }
}

@media (max-width: 413px) {
  .content {
    &_form {
      &_input {
        width: 200px;
      }
    }

    &_social {
      font-size: 10px;
    }
  }
}
