.footer{
    background-color: #231f20;
    color: white;
}

.content{
    max-width: var(--display-width);
    padding: 15px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &_item{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        font-size: 13px;
    }
}