.container {
  max-width: var(--display-width);
  margin: 0 auto;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;

  &_desk {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  .content {
    align-items: center;
    text-align: center;
    margin: 0 auto;

    &_desk {
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-bottom: 30px;
    }
  }
}